@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .mar {
        margin-left: 5px;
    }

    /*div.show-button:hover input {*/
        /*display: block;*/
    /*}*/

    /*div.show-button input {*/
        /*position:absolute;*/
        /*display:none;*/
    /*}*/

    /*div.show-button input.update {*/
        /*top:0;*/
        /*left:0;*/
    /*}*/
    .btn-circle {
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 6px 0;
        font-size: 16px;
        line-height: 1.42;
        border-radius: 20px;
    }
}
